<!DOCTYPE html>
<html>
<head>
    <title>Register User</title>
    <% include includes/scripts.ejs %>
</head>

<body>
    <div  class="container" ng-app="RegisterApp">
        <div ng-view></div>
    </div>
</body>

</html>